@{
	string sort_by = ViewBag.Sort_by ?? "";
	string byAction = ViewBag.ByAction ?? "";
	string slug = ViewBag.Slug ?? "";
}
<div id="MainContainer">
	<partial name="_ProductPartial" model="Model" />
</div>
@section Scripts {
	<script>
		$(document).ready(function () {
			// Chỉ tải lại nội dung liên hệ
			$('#MainContainer').on("click", ".page-ajax", function (e) {
				e.preventDefault();
				const page = $(this).data("page");
				$("#MainContainer").load(`/Home/ProductPartial?page=${page}&sort_by=@sort_by&byAction=@byAction&slug=@slug`);
			});
			// Chạy khi có thay đổi
			$('#MainContainer').on('change', '#sort_by', function () {
				const sortBy = $(this).val();
				if (sortBy !== "-----") {
					const url = new URL(window.location.href);
					url.searchParams.set('sort_by', sortBy);
					window.location.href = url.toString();
				}
			});
			// Chạy khi button được click vào
			$('#MainContainer').on('click', '.add-to-cart', function () {
				// Url Action
				var url = '/Cart/Add';
				// Lấy status và productId
				var	id = $(this).val();
				let data = { id };
				// Gọi Ajax
				sendAjax({ url, data });
			});
		});
	</script>
	}