@model BrandModel
@{
	// Kiểm tra action nào được chọn nếu có model thì gán id chính nó
	var isEdit = Model != null && Model.Id != 0;
	ViewData["title"] = isEdit ? "Edit Brand" : "Create Brand";
}
<h3>@(isEdit ? "Edit Brand" : "Create Brand")</h3>
<form asp-action="@(isEdit ? "Edit" : "Create")" asp-area="Admin" method="post" enctype="multipart/form-data">
	@Html.AntiForgeryToken()
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label>Name</label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger" />
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea asp-for="Description" class="form-control"></textarea>
		<span asp-validation-for="Description" class="text-danger" />
	</div>
	<div class="form-group">
		<label>Status</label>
		<select asp-for="Status" class="form-control">
			<option value="1">Hiển thị</option>
			<option value="0">Ẩn</option>
		</select>
		<span asp-validation-for="Status" class="text-danger" />
	</div>
	<div class="form-group">
		<button class="btn btn-success">@(isEdit ? "Edit" : "Create")</button>
	</div>
</form>
<a asp-controller="Brand" asp-action="Index">Back to brands</a>
@* RenderPartial *@
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}