@model IEnumerable<BrandModel>

<div class="brands_products">
	<!--brands_products-->
	<h2>Thương hiệu</h2>
	<div class="brands-name">
		<ul class="nav nav-pills nav-stacked">
			@foreach (var item in Model)
			{
				<li><a asp-controller="Home" asp-action="Brands" asp-route-Slug="@item.Slug"> <span class="pull-right">(50)</span>@item.Name</a></li>
			}
		</ul>
	</div>
</div><!--/brands_products-->
