<div id="cartTableContainer">
	<partial name="_CartTablePartial" model="Model" />
</div>
@section Scripts {
	<script>
		// Tải lại bảng và gắn lại event
		function reloadCartTable() {
			$("#cartTableContainer").load("/Cart/GetCartTable", function () {
				attachCartEvents();
				loadLocationSelector();
			});
		}

		//Lấy tỉnh thành
		function loadLocationSelector() {
			$.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm',function(data_tinh){
					if(data_tinh.error==0){
					   $.each(data_tinh.data, function (key_tinh,val_tinh) {
						  $("#tinh").append('<option value="'+val_tinh.id+'">'+val_tinh.full_name+'</option>');
					   });
					   $("#tinh").change(function(e){
							var idtinh=$(this).val();
							//Lấy quận huyện
							$.getJSON('https://esgoo.net/api-tinhthanh/2/'+idtinh+'.htm',function(data_quan){
								if(data_quan.error==0){
								   $("#quan").html('<option value="0">Quận Huyện</option>');
								   $("#phuong").html('<option value="0">Phường Xã</option>');
								   $.each(data_quan.data, function (key_quan,val_quan) {
									  $("#quan").append('<option value="'+val_quan.id+'">'+val_quan.full_name+'</option>');
								   });
								   //Lấy phường xã
								   $("#quan").change(function(e){
										var idquan=$(this).val();
										$.getJSON('https://esgoo.net/api-tinhthanh/3/'+idquan+'.htm',function(data_phuong){
											if(data_phuong.error==0){
											   $("#phuong").html('<option value="0">Phường Xã</option>');
											   $.each(data_phuong.data, function (key_phuong,val_phuong) {
												  $("#phuong").append('<option value="'+val_phuong.id+'">'+val_phuong.full_name+'</option>');
											   });
											}
										});
								   });

								}
							});
					   });

					}
				});
		}

		// Gắn sự kiện giỏ hàng
		function attachCartEvents() {
			// Tăng số lượng sản phẩm Ajax
			$('.increase-cartitem').off('click').on('click', function () {
				// Url Action
				var url = '/Cart/Increase';
				// Lấy id của sản phẩm
				var	id = $(this).val();
				let data = { id };
				// Gọi Ajax
				sendAjax({
					url,
					data,
					onSuccess: function () {
						reloadCartTable();
					}
				});
			});

			// Giảm số lượng sản phẩm Ajax
			$('.decrease-cartitem').off('click').on('click', function () {
				// Url Action
				var url = '/Cart/Decrease';
				// Lấy id của sản phẩm
				var	id = $(this).val();
				var data = { id };
				// Gọi Ajax
				sendAjax({
					url,
					data,
					onSuccess: function () {
						reloadCartTable();
					}
				});
			});

			// Cập nhật số lượng sản phẩm Ajax
			$('.cart_quantity_input').off('change').on('change', function () {
				// Url Action
				var url = '/Cart/UpdateQuantity';
				// Lấy số lượng sản phẩm
				var input = $(this);
				var quantity = parseInt(input.val());
				var row = input.closest('tr');
				var productId = row.find('.increase-cartitem').val();
				var data = { productId, quantity };

				// Gọi Ajax
				sendAjax({
					url,
					data,
					onSuccess: function () {
						reloadCartTable();
					}
				});
			});

			// Xóa sản phẩm khỏi giỏ hàng Ajax
			$('.remove-cartitem').off('click').on('click', function () {
				// Url Action
				var url = '/Cart/Remove';
				// Lấy id của sản phẩm
				var	id = $(this).val();
				var data = { id };
				// Gọi Ajax
				sendAjax({
					url,
					data,
					onSuccess: function () {
						reloadCartTable();
					}
				});
			});

			// Làm mới giỏ hàng Ajax
			$('.clear-cart').off('click').on('click', function () {
				// Url Action
				var url = '/Cart/Clear';
				// Lấy id của sản phẩm
				var	id = $(this).val();
				var data = { id };
				// Gọi Ajax
				sendAjax({
					url,
					data,
					onSuccess: function () {
						reloadCartTable();
					}
				});
			});

			// Tính phí ship dựa vào khu vực
			$('#phuong').on('change', function () {
				// Lấy thông tin khu vực
				var city = $("#tinh").find('option:selected').text();
				var district = $("#quan").find('option:selected').text();
				var ward = $("#phuong").find('option:selected').text();
				// Nếu người dùng chưa chọn đầy đủ
				if (city === 'Tỉnh Thành' || district === 'Quận huyện' || ward === 'Phường xã')
				{
					Swal.fire({
						position: 'top-end',
						icon: 'error',
						title: 'Vui lòng chọn đủ thông tin khu vực',
						showConfirmButton: false,
						timer: 1500
					});
				}
				else
				{
					// Url Action
					var url = '/Cart/GetShipping';
					// Thông tin khu vực
					var data = { city, district, ward };
					// Gọi Ajax
					sendAjax({
						url,
						data,
						onSuccess: function () {
							reloadCartTable();
						}
					});
				}
			});

			// Kích hoạt coupon Ajax
			$('.btn-active-coupon').off('click').on('click', function () {
				// Url Action
				var url = '/Cart/ActiveCoupon';
				// Lấy CouponCode từ input
				var couponCode = $('#couponCode').val();
				var totalText = $('#TotalPrice').text();
				var totalPrice = parseInt(totalText.replace(/[^\d]/g, ''));
				var data = { couponCode, totalPrice };
				// Gọi Ajax
				sendAjax({
					url,
					data,
					onSuccess: function () {
						reloadCartTable();
					}
				});
			});
		}
		$(document).ready(function () {
			attachCartEvents();
			loadLocationSelector();
		});
	</script>
}