<div id="TableContainer">
	<partial name="_ProductTablePartial" model="Model" />
</div>
@section Scripts {
	<script>
		// Tải lại bảng
		function reloadTable(page = 1) {
		// Chạy khi trang được load lại
			$("#TableContainer").load("/Admin/Product/GetTable?page=" + page, function () {
				attachEvents(); // Gắn lại sự kiện sau khi load xong
			});
		}

		// Gắn sự kiện click vào các nút phân trang
		$(document).on("click", ".page-ajax", function (e) {
			e.preventDefault(); // Ngăn mặc định chuyển trang
			const page = $(this).data("page");
			reloadTable(page);
		});

		// Gắn sự kiện
		function attachEvents() {
		// Chạy khi button được click vào
			$('.delete-ajax').off('click').on('click', function () {
				let currentPage = parseInt($(".pagination li.active").text()) || 1;
				// Url Action
				var url = '/Admin/Product/Delete';
				// Lấy id của sản phẩm
				var	id = $(this).val();
				let data = { id };

				// Gọi Ajax
				sendAjax({
					url,
					data,
					onSuccess: function () {
						reloadTable(currentPage);
					}
				});
			});
		}
		$(document).ready(function () {
			attachEvents();
		});
	</script>
}