@model ProductModel
@{
	ViewData["Title"] = "Cập nhật sản phẩm";
}
<h3>Cập nhật sản phẩm</h3>
<form asp-action="Update" asp-area="Admin" method="post" enctype="multipart/form-data">
	@Html.AntiForgeryToken()
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input asp-for="Id" type="hidden" />
	<input asp-for="Inventory.Id" type="hidden" />
	<input type="hidden" name="page" value="@ViewBag.Page" />
	<div class="form-group">
		<label>Tên</label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger" />
	</div>
	<div class="form-group">
		<label>Mô tả</label>
		<textarea asp-for="Description" id="summernote" class="form-control"></textarea>
		<span asp-validation-for="Description" class="text-danger" />
	</div>
	<div class="form-group">
		<label>Tồn kho</label>
		<input asp-for="Inventory.QuantityInStock" class="form-control" type="number" />
		<span asp-validation-for="Description" class="text-danger" />
	</div>
	<div class="form-group">
		<label>Giá</label>
		<input asp-for="Price" class="form-control" />
		<span asp-validation-for="Price" class="text-danger" />
	</div>
	<div class="form-group">
		<label>Thể loại</label>
		<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
			<option value="0">--Chọn thể loại--</option>
		</select>
		<span asp-validation-for="CategoryId" class="text-danger" />
	</div>
	<div class="form-group">
		<label>Thương hiệu</label>
		<select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
			<option value="0">--Chọn thương hiệu--</option>
		</select>
		<span asp-validation-for="BrandId" class="text-danger" />
	</div>
	<div class="form-group">
		<label>Ảnh</label>
		<input asp-for="ImageUpload" type="file" class="form-control" onchange="previewImage(this)" />
		<span class="text-danger">
			@Html.ValidationMessage("ImageUpload", null, new { @class = "text-danger" })
		</span>
		<br />
		<img id="preview-img" src="~/media/products/@(string.IsNullOrEmpty(Model?.Image) ? "default.png" : Model.Image)" alt="Ảnh sản phẩm" width="120" />
		<input type="hidden" asp-for="Image" />
	</div>
	<div class="form-group">
		<button class="btn btn-success">Cập nhật</button>
	</div>

</form>
<a class="btn btn-success" asp-area="Admin" asp-controller="Product" asp-action="Index">Quay lại danh sách</a>

@* RenderPartial *@
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	@* Hiển thị ảnh khi chọn file *@
	<script src="~/backend/js/site.js"></script>
	<script>
		$('#summernote').summernote({
			height: 100,
			placeholder: 'Nhập mô tả...',
			toolbar: [
				['style', ['bold', 'italic', 'underline', 'clear']],
				['font', ['strikethrough']],
				['para', ['ul', 'ol', 'paragraph']],
				['insert', ['link', 'picture']],
				['view', ['codeview']]
			]
		});
	</script>
}